{"openapi":"3.0.0","info":{"title":"Supply & Demand – Client API","description":"","version":"1.0","contact":{}},"servers":[{"url":"https://api.kpler.com/v2"}],"tags":[{"name":"Supply_&_Demand_–_Client_API_Grains S&D","description":"<header>\n<h1>Grains S&amp;D</h1>\n<p>\nKpler Grains Supply &amp; Demand provides access to comprehensive grains market data\nincluding balance sheets of major grains exporters and detailed export breakdowns.\n</p>\n</header>","x-displayName":"Grains S&D"},{"name":"Supply_&_Demand_–_Client_API_LNG & Gas S&D","description":"<header>\n<h1>LNG &amp; Gas S&amp;D</h1>\n<p>\nKpler LNG &amp; Gas Supply &amp; Demand provides a forward-looking view of the global LNG market\nand the natural gas balances of the world's key gas economies. It combines a global LNG\nbalance – grounded in Kpler's near-real-time vessel flows – with full supply, demand, and\nstorage balances for the major markets that drive LNG trade, covering an 18-month rolling\nforecast at monthly resolution.\n</p>\n</header>","x-displayName":"LNG & Gas S&D"}],"paths":{"/supply-demand/grains/balances":{"get":{"description":"Retrieve balance sheets of one or more (major) exporters.","operationId":"getBalances","parameters":[{"name":"product","required":true,"in":"query","description":"Product to show. Can be product name or ID.","schema":{"type":"string","enum":["Corn","Soybean","Wheat"]}},{"name":"zones","required":true,"in":"query","description":"Zones/countries used to filter the results. Multiple values allowed.","schema":{"minItems":1,"example":["Argentina"],"type":"array","items":{"type":"string"}}},{"name":"minYear","required":false,"in":"query","description":"Minimum year to filter the results.","schema":{"minimum":2017,"example":2017,"type":"number"}},{"name":"maxYear","required":false,"in":"query","description":"Maximum year to filter the results.","schema":{"minimum":2017,"example":2025,"type":"number"}},{"name":"snapshotBefore","required":false,"in":"query","description":"The date to take the snapshot before. When not provided, the latest snapshot will be displayed","schema":{"example":"2026-03-31","type":"string"}},{"name":"token","required":false,"in":"query","description":"Token of the page to retrieve","schema":{"nullable":true,"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrainsBalancesResponse"},"example":{"metadata":{"release":{"id":"1c993fda-9eb0-4411-9d3f-c4396efb5b36","releaseTimestamp":"2025-11-17T13:59:47.719Z","productId":1354,"productName":"Corn"},"query":{"granularity":"years","maxYear":"2025","minYear":"2017","periodType":"marketingYear","product":"Corn","zones":"Argentina","snapshotBefore":"2025-12-01"},"units":{"beginningStocks":"kt","biofuelUse":"kt","domesticUseTotal":"kt","endingStock":"kt","exports":"kt","feedUse":"kt","fsiConsumptions":"kt","imports":"kt","industrialUse":"kt","production":"kt","seedUse":"kt","supplyTotal":"kt","totalUse":"kt","harvestedArea":"kha","plantedArea":"kha","yield":"t/ha","stockToUse":"ratio"},"zones":{"resolved":{"zones":["Argentina"]}}},"data":[{"startDate":"2018-03-01","endDate":"2019-03-01","marketingYear":2017,"metrics":{"beginningStocks":2547,"biofuelUse":1450,"domesticUseTotal":12973,"endingStock":1121,"exports":22471,"feedUse":11403,"fsiConsumptions":1570,"imports":18,"industrialUse":0,"production":34000,"seedUse":120,"supplyTotal":36565,"totalUse":35444,"harvestedArea":4800,"plantedArea":5900,"yield":7.08,"stockToUse":0.032},"zone":"Argentina"}],"pagination":{"nextToken":null,"numberOfElements":1}}}}}},"summary":"Get grains balance sheet","tags":["Supply_&_Demand_–_Client_API_Grains S&D"],"security":[{"apiKey":[]}]}},"/supply-demand/grains/exports":{"get":{"description":"Retrieve detailed grains exports data.","operationId":"getExports","parameters":[{"name":"product","required":true,"in":"query","description":"Product to show. Can be product name or ID.","schema":{"example":1354,"type":"string","enum":["Corn","Soybean","Wheat"]}},{"name":"fromZones","required":false,"in":"query","description":"Exporter zone/country names used to filter the results. Multiple values allowed.","schema":{"example":["Argentina"],"type":"array","items":{"type":"string"}}},{"name":"toZones","required":false,"in":"query","description":"Importer zone/country names used to filter the results. Multiple values allowed.","schema":{"example":["Brazil"],"type":"array","items":{"type":"string"}}},{"name":"periodType","required":false,"in":"query","description":"Period type for the export data.","schema":{"default":"tradeYear","type":"string","enum":["marketingYear","tradeYear","custom"]}},{"name":"granularity","required":false,"in":"query","description":"Granularity for the export data.","schema":{"default":"years","type":"string","enum":["months","quarters","years"]}},{"name":"splits","required":false,"in":"query","description":"Split by types for the export data. No duplicate types allowed.","schema":{"example":["originCountry"],"type":"array","items":{"type":"string","enum":["total","originCountry","destinationCountry"]}}},{"name":"minYear","required":false,"in":"query","description":"Minimum year for the export data.","schema":{"minimum":2017,"example":2017,"type":"number"}},{"name":"maxYear","required":false,"in":"query","description":"Maximum year for the export data. Must be greater than or equal to minYear if both are provided.","schema":{"minimum":2017,"example":2025,"type":"number"}},{"name":"snapshotBefore","required":false,"in":"query","description":"The date to take the snapshot before. When not provided, the latest snapshot will be displayed","schema":{"example":"2026-03-31","type":"string"}},{"name":"token","required":false,"in":"query","description":"Token of the page to retrieve","schema":{"nullable":true,"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrainsTradeResponse"},"example":{"metadata":{"release":{"id":"1c993fda-9eb0-4411-9d3f-c4396efb5b36","releaseTimestamp":"2025-11-17T13:59:47.719Z","productId":1354,"productName":"Corn"},"query":{"fromZones":"Argentina","granularity":"years","maxYear":"2025","minYear":"2017","periodType":"tradeYear","product":"1354","splits":["originCountry","destinationCountry"],"toZones":"Brazil","snapshotBefore":"2025-12-01"},"units":{"exports":"kt"},"zones":{"resolved":{"fromZones":["Argentina"],"toZones":["Brazil"]}}},"data":[{"startDate":"2017-10-01","endDate":"2018-10-01","metrics":{"exports":266},"tradeYear":2017,"fromZone":"Argentina","toZone":"Brazil"}],"pagination":{"nextToken":null,"numberOfElements":1}}}}}},"summary":"Get grains exports","tags":["Supply_&_Demand_–_Client_API_Grains S&D"],"security":[{"apiKey":[]}]}},"/supply-demand/grains/snapshots":{"get":{"operationId":"ExternalSnapshotsController_getSnapshots","parameters":[{"name":"product","required":true,"in":"query","description":"Product to show. Can be product name or ID.","schema":{"type":"string","enum":["Corn","Soybean","Wheat"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrainsExternalSnapshotsResponseDTO"},"example":{"series":[{"id":"48d070d7-f6ec-4231-a7ca-8f9413791bda","release_timestamp":"2026-07-22T18:04:05.374Z"}]}}}}},"tags":["Supply_&_Demand_–_Client_API_Grains S&D"],"security":[{"apiKey":[]}]}},"/supply-demand/lng/balances":{"get":{"description":"Retrieve supply and demand balances for LNG","operationId":"getLngBalances","parameters":[{"name":"zones","required":false,"in":"query","description":"Zones/countries used to filter the results. Multiple values allowed. Defaults to [World] if not provided.","schema":{"example":["Argentina"],"type":"array","items":{"type":"string"}}},{"name":"startDate","required":false,"in":"query","description":"Start date of the period for which to retrieve balances, inclusive (YYYY-MM-DD).","schema":{"format":"date","example":"2017-10-12","type":"string"}},{"name":"endDate","required":false,"in":"query","description":"End date of the period for which to retrieve balances, inclusive (YYYY-MM-DD). For trial users, forecast data is limited to 3 months from the latest release date.","schema":{"format":"date","example":"2020-10-12","type":"string"}},{"name":"token","required":false,"in":"query","description":"Token of the page to retrieve","schema":{"nullable":true,"type":"string"}},{"name":"metrics","required":false,"in":"query","description":"Metrics to return. Defaults to [supply, demand, balancingFactor] if not provided.","schema":{"example":["supply","demand","balancingFactor"],"type":"array","items":{"type":"string","enum":["supply","demand","balancingFactor","storageLevel","storageCapacity","storageLevelPower","storageCapacityPower","storageLevelNonpower","storageCapacityNonpower"]}}},{"name":"splits","required":false,"in":"query","description":"Data split to return. Defaults to total if not provided. Available values: total, requestedZones, country, lngRegion, lngSubRegion, continent, subcontinent, installation.","schema":{"example":["total"],"type":"array","items":{"type":"string","enum":["total","continent","subcontinent","country","installation","lngRegion","lngSubRegion","requestedZones"]}}}],"responses":{"200":{"description":"Balances data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LngBalancesResponse"},"example":{"metadata":{"release":{"id":"daa0db12-161b-4019-8350-92a344b21fed","releaseTimestamp":"2025-07-09T15:28:39.611Z","productId":1750,"productName":"LNG"},"query":{"zones":["Argentina"],"metrics":["supply","demand","balancingFactor"],"splits":["total"]},"units":{"supply":"Mt","demand":"Mt","balancingFactor":"Mt"},"zones":{"resolved":{"zones":["Argentina"]}}},"data":[{"startDate":"2023-04-01","endDate":"2023-05-01","zone":"Argentina","metrics":{"supply":123.45,"demand":8.11,"balancingFactor":115.34}}],"pagination":{"nextToken":null,"numberOfElements":1}}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Bad Request","status":400,"detail":"The request is malformed or a parameter failed validation."}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Unauthorized","status":401,"detail":"Authentication credentials are missing or invalid."}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Forbidden","status":403,"detail":"The authenticated user is not allowed to access this resource."}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Not Found","status":404,"detail":"The requested resource does not exist."}}}}},"summary":"Get LNG balances","tags":["Supply_&_Demand_–_Client_API_LNG & Gas S&D"],"security":[{"apiKey":[]}]}},"/supply-demand/gas/balances":{"get":{"description":"Retrieve supply and demand balances for natural gas","operationId":"getGasBalances","parameters":[{"name":"zones","required":false,"in":"query","description":"Zones/countries used to filter the results. Multiple values allowed. Defaults to [World] if not provided.","schema":{"example":["Argentina"],"type":"array","items":{"type":"string"}}},{"name":"startDate","required":false,"in":"query","description":"Start date of the period for which to retrieve balances, inclusive (YYYY-MM-DD).","schema":{"format":"date","example":"2017-10-12","type":"string"}},{"name":"endDate","required":false,"in":"query","description":"End date of the period for which to retrieve balances, inclusive (YYYY-MM-DD). For trial users, forecast data is limited to 3 months from the latest release date.","schema":{"format":"date","example":"2020-10-12","type":"string"}},{"name":"token","required":false,"in":"query","description":"Token of the page to retrieve","schema":{"nullable":true,"type":"string"}},{"name":"metrics","required":false,"in":"query","description":"Metrics to return. Defaults to all gas metrics if not provided.","schema":{"example":["supply","demand","storageLevel"],"type":"array","items":{"type":"string","enum":["supply","supplyDomesticProduction","supplyPipelineImport","supplyPipelineImportsSplits","supplyLngImport","supplyLngSendout","supplyOther","supplyStorageNetWithdrawal","storageLevel","storageCapacity","storageLevelPower","storageCapacityPower","storageLevelNonpower","storageCapacityNonpower","balancingFactor","demand","demandPipelineExport","demandPipelineExportsSplits","demandLngFeedgas","demandRescom","demandIndustry","demandPower","demandNonpower","demandLngTrucking","demandOther","demandAggregated","demandLeasePlantFuel","demandPipelineDistributionUse","demandCityGas","demandFertilizer"]}}},{"name":"splits","required":false,"in":"query","description":"Data splits to return. `fullBalance` (default) returns countries/regions where a complete balance is available (e.g. EU-27)  `country` returns metrics at the finest available granularity (individual countries or aggregate regions), even if a complete balance is not available. Only one of the two can be requested. Defaults to [fullBalance] if not provided.","schema":{"example":["fullBalance"],"type":"array","items":{"type":"string","enum":["fullBalance","country"]}}},{"name":"unit","required":false,"in":"query","description":"Unit for returned values. `bcm` (default) returns metrics in billion cubic metres. `bcfd` returns flow metrics in billion cubic feet per day and storage level/capacity metrics in billion cubic feet (bcf), since they represent point-in-time volumes.","schema":{"default":"bcm","example":"bcm","type":"string","enum":["bcm","bcfd"]}}],"responses":{"200":{"description":"Balances data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GasBalancesResponse"},"example":{"metadata":{"release":{"id":"11111111-0000-0000-0000-000000000000","releaseTimestamp":"2025-01-02T09:10:22.000Z","productId":175002,"productName":"GAS"},"query":{"zones":["Canada"],"metrics":["supply","demand","storageLevel"],"splits":["country"]},"units":{"supply":"bcm","demand":"bcm","storageLevel":"bcm"},"zones":{"resolved":{"zones":["Canada"]}}},"data":[{"startDate":"2024-01-01","endDate":"2024-02-01","zone":"Canada","metrics":{"supply":21.88,"demand":17.02,"storageLevel":9.4}}],"pagination":{"nextToken":null,"numberOfElements":1}}}}},"400":{"description":"Bad Request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Bad Request","status":400,"detail":"The request is malformed or a parameter failed validation."}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Unauthorized","status":401,"detail":"Authentication credentials are missing or invalid."}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Forbidden","status":403,"detail":"The authenticated user is not allowed to access this resource."}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/LngProblemDetails"},"example":{"type":"about:blank","title":"Not Found","status":404,"detail":"The requested resource does not exist."}}}}},"summary":"Get Natural Gas balances","tags":["Supply_&_Demand_–_Client_API_LNG & Gas S&D"],"security":[{"apiKey":[]}]}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"Authorization","description":"Use your API key with the format: `Basic <your-api-key>`"}},"schemas":{"GrainsReleaseInfo":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the release","example":"daa0db12-161b-4019-8350-92a344b21fed"},"releaseTimestamp":{"format":"date-time","type":"string","description":"Timestamp when the release was published","example":"2025-07-09T15:28:39.611Z"},"productId":{"type":"number","description":"Product ID","example":1354},"productName":{"type":"string","description":"Product name","example":"Wheat"}},"required":["id","releaseTimestamp","productId","productName"]},"GrainsZonesInfo":{"type":"object","properties":{"resolved":{"type":"object","description":"Resolved zones by input","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["resolved"]},"GrainsMetadata":{"type":"object","properties":{"release":{"description":"Release information","allOf":[{"$ref":"#/components/schemas/GrainsReleaseInfo"}]},"query":{"type":"object","description":"Original query parameter provided by the user or default values if they exist and nothing was provided by the user"},"units":{"type":"object","description":"Units information"},"zones":{"description":"Zones information","allOf":[{"$ref":"#/components/schemas/GrainsZonesInfo"}]}},"required":["release","query","units","zones"]},"GrainsBalanceMetrics":{"type":"object","properties":{"beginningStocks":{"type":"number"},"biofuelUse":{"type":"number"},"domesticUseTotal":{"type":"number"},"endingStock":{"type":"number"},"exports":{"type":"number"},"feedUse":{"type":"number"},"fsiConsumptions":{"type":"number"},"imports":{"type":"number"},"industrialUse":{"type":"number"},"production":{"type":"number"},"seedUse":{"type":"number"},"supplyTotal":{"type":"number"},"totalUse":{"type":"number"},"harvestedArea":{"type":"number"},"plantedArea":{"type":"number"},"yield":{"type":"number"},"stockToUse":{"type":"number"}}},"GrainsBalanceData":{"type":"object","properties":{"startDate":{"type":"string","description":"Start date of the period","example":"2023-04-01","format":"date"},"endDate":{"type":"string","description":"End date of the period","example":"2023-05-01","format":"date"},"metrics":{"description":"Values by metric","allOf":[{"$ref":"#/components/schemas/GrainsBalanceMetrics"}]},"zone":{"type":"string","description":"Zone name","example":"Ukraine"},"marketingYear":{"type":"number","description":"Marketing year","example":2024,"nullable":true}},"required":["startDate","endDate","metrics","zone"]},"GrainsPaginationInfo":{"type":"object","properties":{"nextToken":{"type":"string","description":"Token of the next page to provide as the token parameter in the next request.","nullable":true},"numberOfElements":{"type":"number","description":"Number of elements returned in the current page that you can find in data. Can be less than the requested page size if the end of the list has been reached.","nullable":false}},"required":["nextToken","numberOfElements"]},"GrainsBalancesResponse":{"type":"object","properties":{"metadata":{"description":"Metadata of the response","allOf":[{"$ref":"#/components/schemas/GrainsMetadata"}]},"data":{"type":"array","items":{"$ref":"#/components/schemas/GrainsBalanceData"}},"pagination":{"description":"Page information","allOf":[{"$ref":"#/components/schemas/GrainsPaginationInfo"}]}},"required":["metadata","data","pagination"]},"GrainsTradeData":{"type":"object","properties":{"startDate":{"type":"string","description":"Start date of the period","example":"2023-04-01","format":"date"},"endDate":{"type":"string","description":"End date of the period","example":"2023-05-01","format":"date"},"metrics":{"type":"object","description":"Values by metric"},"fromZone":{"type":"string"},"toZone":{"type":"string"},"marketingYear":{"type":"number"},"marketingYearQuarter":{"type":"number"},"exporterMarketingYear":{"type":"number"},"exporterMarketingYearQuarter":{"type":"number"},"tradeYear":{"type":"number"},"tradeYearQuarter":{"type":"number"}},"required":["startDate","endDate","metrics"]},"GrainsTradeResponse":{"type":"object","properties":{"metadata":{"description":"Metadata of the response","allOf":[{"$ref":"#/components/schemas/GrainsMetadata"}]},"data":{"type":"array","items":{"$ref":"#/components/schemas/GrainsTradeData"}},"pagination":{"description":"Page information","allOf":[{"$ref":"#/components/schemas/GrainsPaginationInfo"}]}},"required":["metadata","data","pagination"]},"GrainsExternalSnapshotItemDTO":{"type":"object","properties":{"id":{"type":"string"},"release_timestamp":{"format":"date-time","type":"string"}},"required":["id","release_timestamp"]},"GrainsExternalSnapshotsResponseDTO":{"type":"object","properties":{"series":{"type":"array","items":{"$ref":"#/components/schemas/GrainsExternalSnapshotItemDTO"}}},"required":["series"]},"LngProblemDetails":{"type":"object","properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type. \"about:blank\" is used when no specific type applies.","example":"about:blank","default":"about:blank"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Bad Request"},"status":{"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"startDate must be a valid ISO 8601 date string"},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"/external/lng/balances"}},"required":["type","title","status"]},"LngReleaseInfo":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the release","example":"daa0db12-161b-4019-8350-92a344b21fed"},"releaseTimestamp":{"format":"date-time","type":"string","description":"Timestamp when the release was published","example":"2025-07-09T15:28:39.611Z"},"productId":{"type":"number","description":"Product ID","example":1750},"productName":{"type":"string","description":"Product name","example":"LNG"}},"required":["id","releaseTimestamp","productId","productName"]},"LngZonesInfo":{"type":"object","properties":{"resolved":{"type":"object","description":"Resolved zones by input","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["resolved"]},"LngMetadata":{"type":"object","properties":{"release":{"description":"Release information","allOf":[{"$ref":"#/components/schemas/LngReleaseInfo"}]},"query":{"type":"object","description":"Original query parameter provided by the user or default values if they exist and nothing was provided by the user"},"units":{"type":"object","description":"Units information"},"zones":{"description":"Zones information","allOf":[{"$ref":"#/components/schemas/LngZonesInfo"}]}},"required":["release","query","units","zones"]},"LngBalanceMetrics":{"type":"object","properties":{"supply":{"type":"number","example":123.45},"demand":{"type":"number","example":8.11},"balancingFactor":{"type":"number","example":115.34},"storageLevel":{"type":"number","example":4.377},"storageCapacity":{"type":"number","example":6.6394},"storageLevelPower":{"type":"number","example":1.1},"storageCapacityPower":{"type":"number","example":3.2},"storageLevelNonpower":{"type":"number","example":0.9},"storageCapacityNonpower":{"type":"number","example":2.1}}},"LngBalanceData":{"type":"object","properties":{"startDate":{"type":"string","description":"Start date of the period","example":"2023-04-01","format":"date"},"endDate":{"type":"string","description":"End date of the period","example":"2023-05-01","format":"date"},"metrics":{"description":"Values by metric","allOf":[{"$ref":"#/components/schemas/LngBalanceMetrics"}]},"zone":{"type":"string","description":"Zone name","example":"Argentina"},"installation":{"type":"string","description":"Installation name"},"partialZoneData":{"type":"boolean","description":"True when the resolved target zone is not fully contained in the set of queried zones, indicating that only a partial portion of the zone data is included.","example":true},"splitInfo":{"type":"object","description":"Resolved zone or installation label for each requested split dimension. Present only when multiple splits are requested.","example":{"country":"Canada","lngRegion":"Europe Region L1"},"additionalProperties":{"type":"string"}},"isForecast":{"type":"string","description":"Forecast coverage for this row: false when all returned metrics are historical, true when all are forecast, partial when returned metrics mix historical and forecast values. Aggregated rows also return partial when contributing balances have mixed coverage.","enum":["true","partial","false"],"example":"false"}},"required":["startDate","endDate","metrics","isForecast"]},"LngPaginationInfo":{"type":"object","properties":{"nextToken":{"type":"string","description":"Token of the next page to provide as the token parameter in the next request. Null or absent when there are no more pages.","nullable":true},"numberOfElements":{"type":"number","description":"Number of elements returned in the current page that you can find in data. Can be less than the requested page size if the end of the list has been reached.","nullable":false}},"required":["numberOfElements"]},"LngBalancesResponse":{"type":"object","properties":{"metadata":{"description":"Metadata of the response","allOf":[{"$ref":"#/components/schemas/LngMetadata"}]},"data":{"type":"array","items":{"$ref":"#/components/schemas/LngBalanceData"}},"pagination":{"description":"Page information","allOf":[{"$ref":"#/components/schemas/LngPaginationInfo"}]}},"required":["metadata","data","pagination"]},"GasBalanceMetrics":{"type":"object","properties":{"supply":{"type":"number","description":"Supply aggregate","example":74.16},"demand":{"type":"number","description":"Demand aggregate","example":36.89},"supplyDomesticProduction":{"type":"number","example":21.88},"supplyPipelineImport":{"type":"number","example":5.77},"supplyLngImport":{"type":"number","example":1.2},"supplyLngSendout":{"type":"number","example":9.82},"supplyOther":{"type":"number","example":0.5},"supplyStorageNetWithdrawal":{"type":"number","example":0.92},"demandPipelineExport":{"type":"number","example":0.4},"demandLngFeedgas":{"type":"number","example":0.6},"demandRescom":{"type":"number","example":14.23},"demandIndustry":{"type":"number","example":17.02},"demandPower":{"type":"number","example":5.63},"demandNonpower":{"type":"number","example":4.19},"demandLngTrucking":{"type":"number","example":0.0025},"demandOther":{"type":"number","example":0.08},"demandAggregated":{"type":"number","example":0.05},"demandLeasePlantFuel":{"type":"number","example":0.03},"demandPipelineDistributionUse":{"type":"number","example":0.07},"demandCityGas":{"type":"number","example":0.11},"demandFertilizer":{"type":"number","example":0.02},"balancingFactor":{"type":"number","example":115.34},"storageLevel":{"type":"number","example":4.377},"storageCapacity":{"type":"number","example":6.6394},"storageLevelPower":{"type":"number","example":1.1},"storageCapacityPower":{"type":"number","example":3.2},"storageLevelNonpower":{"type":"number","example":0.9},"storageCapacityNonpower":{"type":"number","example":2.1}}},"GasBalanceData":{"type":"object","properties":{"startDate":{"type":"string","description":"Start date of the period","example":"2023-04-01","format":"date"},"endDate":{"type":"string","description":"End date of the period","example":"2023-05-01","format":"date"},"metrics":{"description":"Values by metric","allOf":[{"$ref":"#/components/schemas/GasBalanceMetrics"}]},"zone":{"type":"string","description":"Zone name","example":"China"},"partialZoneData":{"type":"boolean","description":"True when the resolved target zone is not fully contained in the set of queried zones, indicating that only a partial portion of the zone data is included.","example":true},"splitInfo":{"type":"object","description":"Resolved zone label for each requested split dimension. Present only when multiple splits are requested.","example":{"country":"Canada"},"additionalProperties":{"type":"string"}},"splitMetrics":{"type":"object","description":"Detailed breakdown of selected metrics by counterpart country. Populated when supplyPipelineImportsSplits is requested: each entry under supplyPipelineImport is a map of supplier (from-zone) country name to its contribution in bcm. Populated when demandPipelineExportsSplits is requested: each entry under demandPipelineExport is a map of destination (to-zone) country name to its contribution in bcm.","example":{"supplyPipelineImport":{"Russian Federation":2.39815506941589,"Turkmenistan":2.59644211199148},"demandPipelineExport":{"Germany":1.23456789012345,"Italy":0.98765432109876}},"additionalProperties":{"type":"object","additionalProperties":{"type":"number"}}},"isForecast":{"type":"string","description":"Forecast coverage for this row: false when all returned metrics are historical, true when all are forecast, partial when returned metrics mix historical and forecast values. Aggregated rows also return partial when contributing balances have mixed coverage.","enum":["true","partial","false"],"example":"false"}},"required":["startDate","endDate","metrics","isForecast"]},"GasBalancesResponse":{"type":"object","properties":{"metadata":{"description":"Metadata of the response","allOf":[{"$ref":"#/components/schemas/LngMetadata"}]},"data":{"type":"array","items":{"$ref":"#/components/schemas/GasBalanceData"}},"pagination":{"description":"Page information","allOf":[{"$ref":"#/components/schemas/LngPaginationInfo"}]}},"required":["metadata","data","pagination"]}}},"x-tagGroups":[{"name":"Supply & Demand – Client API","tags":["Supply_&_Demand_–_Client_API_Grains S&D","Supply_&_Demand_–_Client_API_LNG & Gas S&D"]}]}